body {
    padding: 0;
    margin: 0;
}
#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-gap: 1rem;
}
#box1 {
    background-color: red;
}
#box2 {
    background-color: blue;
    grid-column-start: 2;
    grid-column-end:3
}
#box3 {
    background-color: green;
}
#box4 {
    background-color: yellow;
}
#box5 {
    background-color: purple;
}
#box6 {
    background-color: grey;
}
.boxes {
    padding: 1rem;
    text-align: left;
}