body {
    padding: 0;
    margin: 0;
}
#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-gap: 1rem;
}
#box1 {
    background-color: rgb(114, 0, 0);
    grid-column: 1/2;
    grid-row: 3/4;
}
#box2 {
    background-color: rgb(2, 2, 150);
    grid-column: 2/3;
    grid-row: 1/3;
}
#box3 {
    background-color: rgb(149, 255, 149);
    grid-column: 2/3;
    grid-row: 3/4;
}
#box4 {
    background-color: rgb(107, 107, 0);
    grid-row: 3/4;
    grid-column: 3/4;
}
#box5 {
    background-color: rgb(71, 0, 71);
    grid-row: 2/3;
    grid-column: 3/4;
}
#box6 {
    background-color: rgb(73, 73, 73);
}
.boxes {
    padding: 1rem;
    text-align: left;
}
.formContainer {
    display: grid;
    justify-items: center;
    padding-top: 1rem;
}